<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgapp">

    <!--声明使用相机-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity">
        </activity>

        <activity android:name=".activity.RegisterActivity"
            android:label="注册">
        </activity>

        <activity android:name=".activity.MainActivity">
        </activity>

        <activity android:name=".activity.ModifyPasswordActivity">
        </activity>

        <activity android:name=".activity.HistoryActivity">
        </activity>

        <activity android:name=".activity.RepairHistoryActivity">
        </activity>

        <activity android:name=".activity.FavoriteActivity">
        </activity>

        <activity android:name=".activity.AboutUsActivity">
        </activity>

        <activity android:name=".activity.UserActivity">
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>